.git
.gitignore
.github
.husky

.vscode
.idea
*.DS_Store

node_modules
pnpm-lock.yaml
package.json

client/node_modules
client/dist
client/.env
client/.env.*
client/coverage
client/test-results

server/target
server/.mvn/repository

Dockerfile

README.md
*.md
